.header {
  background: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.search-form {
  background-color: white;
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  border: 3px solid hsl(228, 12%, 75%);
}

.search-form i {
  color: hsl(228, 66%, 53%);
  font-size: 1.25rem;
}
.search-form input {
  outline: none;
  border: none;
  width: 90%;
  height: 22px;
  color: hsl(228, 15%, 50%);
  margin: 0 0.5rem;
}
.search-form input::placeholder {
  color: hsl(228, 12%, 75%);
}
